* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: white;
    --back-round: white;
    --indicator: #BFBFBF;
    --round: #2284B5;
}

.darkmode {
    --main: black;
    --back-round: white;
    --indicator: #BFAEA4;
    --round: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--main);
    overflow: hidden;
}

.nav-bar {
    position: fixed;
    top: 1%;
    left: 1%;
    cursor: pointer;
    background-color: white;
    border: none;
}

.navigation {
    position: relative;
    width: 95vw;
    margin-top: -40%;
    margin-left: -250%;
    height: 10vh;
    background: var(--round);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
}

.navigation.active {
    left: 250;
}


.navigation ul {
    display: flex;
    width: 50vw;
    gap: 15%;
    margin-left: -35%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 10vw;
    height: 6vh;
    z-index: 1;
}

.image-top {
    width: 10vw;
    height: 5vh;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1rem;
    text-align: center;
    transition: 0.5s;
    color: var(--main);
}

.navigation ul li .icon svg {
    stroke: #1E1E1E;
    transition: stroke 0.3s ease;
}

.navigation ul li .text {
    margin-left: 10px;
    color: #1E1E1E;
    transition: color 0.3s ease;
}


.navigation ul li:hover .icon svg {
    stroke: #8C1B1B;
}

.navigation ul li:hover .text {
    color: var(--main);
}

.navigation ul li:hover a .icon {
    transform: translateY(-3.7vh);
}


.navigation ul li a .text {
    position: absolute;
    color: var(--main);
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -43%;
    width: 6vw;
    height: 9vh;
    left: 8.2%;
    background: var(--indicator);
    border-radius: 50%;
    border: 6px solid var(--main);
    transition: 0.5s;
    background: transparent;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 46%;
    left: -46%;
    width: 2.5vw;
    height: 2vh;
    background-color: var(--indicator);
    border-top-right-radius: 2em;
    box-shadow: 1px -10px 0 0 var(--main);
    background: transparent;
}

.navigation .indicator {
    opacity: 0;
}


.navigation ul li:hover~.indicator {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--indicator);
    color: var(--img);
}


.indicator::after {
    content: '';
    position: absolute;
    top: 46%;
    right: -46%;
    width: 2.5vw;
    height: 2vh;
    background-color: var(--indicator);
    border-top-left-radius: 2em;
    box-shadow: -1px -10px 0 0 var(--main);
    background: transparent;
}

.navigation ul li:nth-child(1):hover~.indicator {
    transform: translateX(calc(17vw * 0));
}

.navigation ul li:nth-child(2):hover~.indicator {
    transform: translateX(calc(17.5vw * 1));
}

.navigation ul li:nth-child(3):hover~.indicator {
    transform: translateX(calc(17.5vw * 2));
}

.navigation ul li:nth-child(4):hover~.indicator {
    transform: translateX(calc(17.5vw * 3));
}

.navigation ul li:nth-child(5):hover~.indicator {
    transform: translateX(calc(17.5vw * 4));
}

.dark-light {
    width: 3vw;
    height: 5vh;
    margin-left: -5%;
    border-radius: 5em;
    margin-top: -25%;
    border: none;
}

.dark-light svg:first-child {
    display: none;
}


.darkmode .dark-light svg:last-child {
    display: none;
}

.darkmode .dark-light svg:first-child {
    display: block;
    margin-left: 30%;
}