* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: black;
    --whi: white;
    --red: grey;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
    overflow: hidden;
}

.navigation {
    position: relative;
    width: 95vw;
    margin-top: -40%;
    margin-left: -1%;
    height: 10vh;
    background: var(--whi);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
}

.navigation ul {
    display: flex;
    width: 90vw;
    gap: 20%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 10vw;
    height: 6vh;
    z-index: 1;
}

.image-top {
    width: 10vw;
    height: 5vh;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li:hover a .icon {
    transform: translateY(-3.7vh);
}


.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -43%;
    width: 6vw;
    height: 9vh;
    left: 4.7%;
    background: var(--red);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    background: transparent;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 46%;
    left: -46%;
    width: 2.5vw;
    height: 2vh;
    background-color: var(--red);
    border-top-right-radius: 2em;
    box-shadow: 1px -10px 0 0 var(--clr);
    background: transparent;
}

.navigation .indicator {
    opacity: 0;
}


.navigation ul li:hover ~ .indicator {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    background-color: var(--red);
    color: var(--img);
}


.indicator::after {
    content: '';
    position: absolute;
    top: 46%;
    right: -46%;
    width: 2.5vw;
    height: 2vh;
    background-color: var(--red);
    border-top-left-radius: 2em;
    box-shadow: -1px -10px 0 0 var(--clr);
    background: transparent;
}

.navigation ul li:nth-child(1):hover ~ .indicator {
    transform: translateX(calc(28px * 0));
}
.navigation ul li:nth-child(2):hover ~ .indicator {
    transform: translateX(calc(28vw * 1));
}
.navigation ul li:nth-child(3):hover ~ .indicator {
    transform: translateX(calc(28vw * 2));
}
.navigation ul li:nth-child(4):hover ~ .indicator {
    transform: translateX(calc(28vw * 3));
}
.navigation ul li:nth-child(5):hover ~ .indicator {
    transform: translateX(calc(28vw * 4));
}