* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --board-color: #293447;
    --back-color: #E3F2FD;
    --under-board: #212837;
    --food: red;
    --snake: #60CBFF;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--back-color);
}

.wrapper {
    width: 90vmin;
    height: 90vmin;
    border-radius: 2%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--board-color);

}

.game-details {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2%;
    display: flex;
    justify-content: space-between;

}


.play-board {
    width: 100%;
    height: 100%;
    background-color: var(--under-board);
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr); 
    /* this makes grid of board */
}

.play-board .food {
    background: var(--food);
}

.play-board .head {
    background: var(--snake);
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls svg {
    padding: 1% 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    width: calc(100% / 4);
    border-right: 1px solid black;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 65vmin;
        height: 65vmin;
    }
    
    .game-details {
        font-size: 1.2rem;
        padding: 2%;
    }

    .controls {
        display: flex;
    }
    
    .controls svg {
        padding: 1% 0;
        font-size: 1.3rem;
    }
}