* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #D9D0D0;
}

.wrapper {
    background: white;
    width: 50vw;
    border-radius: 1em;
    padding: 2%;
}
.wrapper .input-field {
    z-index: -999;
    opacity: 0;
    position: absolute;
}
.wrapper .content-box {
    padding: 2% 2% 0;
    border: 1px solid black;
    border-radius: 1em;
}

.typing-text p {
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 2px;
    word-break: break-all;
    /* break this */

}

.typing-text {
    max-height: 200px; 
    overflow-y: auto;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct {
    color: green;
}

.typing-text p span.incorrect {
    color: red;
    background: pink;
    outline: 1px solid white;
    border-radius: 1%;
}

.typing-text p span.active {
    color: aqua;
}

.typing-text p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2%;
    width: 100%;
    opacity: 0;
    background: aqua;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}

.content-box  .typing-text {
    max-height: 20vh;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.content-box .content {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    padding: 2% 0;
    border-top: 1px solid black;
    align-items: center;
}

.content .result-details {
    display: flex;
    width: calc(100% - 15%);
    justify-content: space-between;
}

.result-details li {
    list-style: none;
    display: flex;
    height: 3vh;
    align-items: center;

}

.result-details li span {
    display: block;
    font-size: 1.5rem;
    margin-left: 10px;
}

.result-details li  p {
    font-size: 1.5rem;
}

.result-details li:not(:first-child) {
    border-left:  1px solid black;
    padding-left: 8%;
}

.result-details li b {
    font-weight: 200;
}

.result-details li:not(:first-child) span {
    font-weight: 500;
}

.content button {
    border: none;
    outline: none;
    width: 5vw;
    background: #D9D0D0;
    padding: 1% 0;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: transform 0.3s ease;
}

.content button:active {
    transform: scale(0.97);
}

/* popup */

.popup {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 10%;
    width: 55vw;
    height: 50vh;
    position: absolute;
    left: 25%;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    display: none;
}

.popup h2 {
    font-size: 4rem;
    margin-top: -10%;
}

.popup p {
    font-size: 2.5rem;
    margin-top: 3%;
}

#popupbtn {
    width: 10vw;
    height: 9vh;
    font-size: 1.5rem;
    margin-left: 35%;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1%;
    transition: transform 0.3s ease;
}

.popup #popupbtn:active {
    transform: scale(0.97);
}


@media screen and (max-width: 1668px) and (min-width: 1619px) {
    .result-details li:not(:first-child) {
        padding-left: 6%;
    }
}

@media screen and (max-width: 1616px) and (min-width: 1590px) {
    .result-details li:not(:first-child) {
        padding-left: 4%;
    }
}

@media screen and (max-width: 1582px) and (min-width: 1500px) {
    .result-details li p {
        font-size: 1rem;
    }
    .result-details li span {
        font-size: 1rem;
    }
}